@{
    ViewData["Title"] = "Webhook Example";
}

<div class="row">
    <h2>Notifications</h2>
    <div class="col-6">&nbsp;</div>
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

<script src="~/lib/signalr/signalr.js"></script>
<script>
    let transportType = signalR.HttpTransportType.WebSockets;
    let connection = new signalR.HubConnectionBuilder().withUrl("notificationhub", transportType).build();

    connection.on("NotificationMessage", (message) => {
        console.log(message);
        const li = document.createElement("li");
        li.textContent = JSON.stringify(message);
        document.getElementById("messagesList").appendChild(li);
    });

    connection.start().catch(err => console.error(err.toString()));
</script>

